@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-background: #F9FAFB;
  --color-primary: #1D4ED8;
  --color-secondary: #F59E42;
  --color-accent: #FDBA74;
  --color-text: #111827;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Noto Kufi Arabic', Arial, Helvetica, sans-serif;
  direction: rtl;
}
.btn {
  @apply text-sm px-2 py-1 border rounded bg-white hover:bg-gray-100;
}